body {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #444;
  background: #b8c8c8;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  margin-top: .25em; margin-bottom: .5em;
}
p {
  font-weight: 300;
}
label {
  font-weight: normal;
  color: #466;
}
.font-normal {
  font-weight: 400;
}
.font-semi-bold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
.starter-template {
  margin-top: 10px;
}
.starter-template .row {
  background: white;
  border: 1px solid black;
  margin-bottom: 3px;
}
.starter-template .header {
  border: 1px solid black;
  padding: .0em 1em 1em 1em;
}
.starter-template .header .logo {
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 0;
  float: left;
  clear: none;
  height: 60px;
}
.starter-template .header h2 {
  font-size: 2.0em;
  font-weight: 500;
  margin-top: 1em;
}

.starter-template .menu ul {
  margin-left: 0;
  padding-left: 0;
}
.starter-template .menu li {
  display: block;
  float: left;
  clear: none;
  font-size: 1.5em;
  font-weight: bold;
  color: black;
  text-decoration: none;
  padding: .5em .5em .5em 1em;
}
.starter-template .content {
  border: 1px solid black;
  padding: 1em;
}

table {
  font-size: 1.25em;
}
td, th {
  padding: 3px 8px 0px 5px;
  border: 1px solid black;
}

@media (max-width: 1199px) {
  .starter-template .content h1 {
    font-size: 45px;
  }
  .starter-template .content h1 .smaller {
    font-size: 30px;
  }
  .starter-template .content .lead {
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  .starter-template {
    margin-top: 0;
  }
  .starter-template .logo {
    margin: 40px auto;
  }
  .starter-template .content {
    margin-left: 0;
    text-align: center;
  }
  .starter-template .content h1 {
    margin-bottom: 20px;
  }
  .starter-template .links {
    float: none;
    text-align: center;
    margin-top: 60px;
  }
  .starter-template .copyright {
    float: none;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .starter-template .content h1 .smaller {
    font-size: 25px;
    display: block;
  }
  .starter-template .content .lead {
    font-size: 16px;
  }
  .starter-template .links {
    margin-top: 40px;
  }
  .starter-template .links ul li {
    display: block;
    margin: 0;
  }
  .starter-template .links ul li .icon-muted {
    display: none;
  }
  .starter-template .copyright {
    margin-top: 20px;
  }
}
.PhotoSampleWrap{
  width:640px;
  float:left;
  margin:5px;
}
.OK{
  color:darkgreen;
}
.ERRORe{
  color:#660000;
}
.OFF{
  color:darkblue;
}
.StatusCell{
    text-align: center;
}
.NumberCell{
    text-align: right;
}