{% extends "layout.jinja2" %}

{% block content %}
<div class="content notifications">
  <h2>Photobot Installations</h2>

  <table class="installations">
    <tr>
      <th>UID</th>
      <th>Name</th>
      <th>IP</th>
      <th>Pi</th>
      <th>USB</th>
      <th>PTZ</th>
      <th>AIS</th>
      <th>Disk</th>

      <th>Last Health Check</th>

    </tr>
  {% for item in installs %}
    <tr>
        <td><span><a href="/log/{{item['installation'].uid}}">{{item['installation'].uid}}</a></span></td>
      <td><span>{{item['installation'].name}}</span></td>
      <td><span>{{item['installation'].ip_address}}</span></td>
      <td><span>{{item['ping_dict']['pi']}}</span></td>
      <td><span>{{item['ping_dict']['usb']}}</span></td>
      <td><span>{{item['ping_dict']['ptz']}}</span></td>
        <td><span>{{item['ping_dict']['ais']}}</span></td>
      <td><span>{{item['ping_dict']['disk']}}</span></td>
      <td><strong>{{item['installation'].last_ping_time}}</strong></td>

    </tr>
  {% endfor %}
  </table>

</div>
{% endblock content %}
