{% extends "layout.jinja2" %}

{% block content %}
<div class="content notifications">
  <h2>Photobot Installations</h2>

  <table class="installations">
    <tr>
      <th>UID</th>
      <th>Name</th>
      <th>IP</th>
      <th>Last Health Check</th>
      <th>Status</th>
     <th>Last Msg</th>
    </tr>
  {% for item in installations %}
    <tr>
        <td><span><a href="/log/{{item.uid}}">{{item.uid}}</a></span></td>
      <td><span>{{item.name}}</span></td>
      <td><span>{{item.ip_address}}</span></td>
      <td><span>{{item.last_ping.datetime}}</span></td>
      <td><strong>{{item.status}}</strong></td>
    <td><span>{{item.last_ping.msg}}</span></td>
    </tr>
  {% endfor %}
  </table>

</div>
{% endblock content %}
