{% extends "layout.jinja2" %}

{% block content %}
<div class="PhotoSamplesPage">
  <h2>Image Samples</h2>


  {% for item in samples %}
    <div class="PhotoSampleWrap">
        <a  href="/samples/{{item.filename}}">
            <img src="/samples/{{item.filename}}"/>
        </a>
        <div clas="SampleName">
        {{item.filename}}
        </div>
    </div>
  {% endfor %}
  </table>

</div>
{% endblock content %}